{% extends 'strona/home.html' %}
{% load static %}
{% block content %}

			<br>
			<div class="box-element hidden" id="payment-info">
				<small>Paypal Options</small>
			</div>


		<div>
			<div class="box-element">
                <a  class="btn btn-outline-dark" href="{% url 'strona:cart' %}">&#x2190; Wróć do koszyka</a>
				<hr>
				<h3>Podsumowanie zakupów</h3>
				<hr>
				{% for item in items %}
				<div class="cart-row">
					<div style="flex:2"><img class="row-image" src="{{item.product.image.url}}"></div>
					<div style="flex:2"><p>{{item.product.title}}</p></div>
					<div style="flex:1"><p>{{item.product.ticketPrice}}</p></div>
					<div style="flex:1"><p>{{item.product.ticketQuantity}}</p></div>
				</div>
				{% endfor %}
				<h5>Items:   {{order.get_cart_items}}</h5>
				<h5>Total:   {{order.get_cart_total}}</h5>
			</div>

			<input id="form-button" class="btn btn-outline-dark" style="width:100%" type="submit" value="Przejdź do zapłaty">

		</div>
	</div>
{% endblock content %}