{% extends 'strona/home.html' %}
{% load static %}

{% block content %}
    <h1>Sign Up</h1>
    <form method="post">
        {% csrf_token %}
        {{form.as_p}}


        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Zarejestruj się</button>
        </div>
    <div class="border-top pt-3">
        <small class="text-muted">
            Already Have An Account? <a class="ml-2" href="{% url 'account:login' %}" method="post" type= "submit">Log In</a>
        </small>
    </div>
    </form>
{% endblock content %}